/* ====================== 
    Reset css 
=========================*/
*{
    margin: 0;
    padding: 0;
}
:focus{
    outline: 0;
}
body{
    font-family: 'Yeseva One', cursive;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background: #e5e5e5;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.col-3{
    width: 33.33%;
    float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.clearfix{
    overflow: hidden;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.h-664{
    height: 664px;
}
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #861b03;
    padding: 12px;
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 19px;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}
.btn:hover{
    background: transparent;
    color: #861b03;
    border: 1px solid #861b03;
}
/* ===================== 
    Header part Start 
========================*/
.h-text-titleContent {
    margin-top: 140px;
    border-left: 4px solid #f588ff;
    border-image-slice: 1;
    height: auto;
}
.h-text-content {
    margin-left: 70px;
}
.h-text-title,
.h-text-subtitle {
    text-transform: capitalize;
    font-size: 60px;
    line-height: 80px;
    font-weight: 400;
    padding-left: 10px;
}
.h-text-subtitle{
    color: #ff7b5a;
}
.h-text-para{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 28px;
    color: #3e3e3e;
}
.short-text{
    font-family: 'Poppins', sans-serif;
    color: #434343;
    margin-top: 19px;
    display: inline-block;
    transition: .4s ease-in;
    -webkit-transition: .4s ease-in;
    -moz-transition: .4s ease-in;
    -ms-transition: .4s ease-in;
    -o-transition: .4s ease-in;
}
.short-text:hover{
    text-decoration: underline;
    color: #ff7b5a;
}
.h-img-content {
    width: 424px;
    height: 630px;
    margin-left: 130px;
}
/* ===================== 
    Header part End 
========================*/

/* ===================== 
    About part start 
========================*/
.about-section{
    padding: 15px 0 40px 0;
}
.about-heading {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #13103a;
    margin-bottom: 40px;
}
.about-heading span{
    color: #ff7b5a;
}
.about-contentBox {
    width: 320px;
    height: 376px;
    margin-left: 20px;
    border-radius: 26px;
    padding: 45px 13px 45px 32px;
}
.a-boxBg1{
    background: rgba(79, 157, 166, 0.1);
}
.a-boxBg2{
    background: rgba(255, 89, 89,0.1);
}
.a-boxBg3{
    background: #fff4d6;
}
.a-itemImg {
    width: 141px;
    height: 141px;
}
.a-itemContent-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.a-itemContent-para {
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    color: #424242;
}
/* ===================== 
    About part end 
========================*/